@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* ### Primary  */
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);

    /* ### Neutral  */
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    /* (with 75% opacity for lightbox background) */
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    font-family: 'Kumbh Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
}

body p {
    font-size: 16px;
}

.header {
    background-color: var(--white);
    top: 0;
    width: 100%;
    height: 68px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    grid-template-areas: 'hamb logo cart-icon avatar';
    justify-items: start;
    align-items: center;
}

/* Nav menu */
.nav {
    width: 70%;
    height: 100%;
    position: fixed;
    background-color: var(--white);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.nav-menu {
    margin: 50px 0;
    padding: 0;
}

.nav-menu a {
    display: block;
    padding: 16px 20px;
    color: var(--black);
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    padding: 20px;
    grid-area: hamb;
    z-index: 11;
}

.hamb-line {
    background: var(--darkGrayishBlue);
    display: block;
    height: 3px;
    position: relative;
    width: 16px;
    margin: 2.5px auto;
}

/* Hide checkbox */
.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
    max-width: 70%;
    top: 0;
    z-index: 10;
}

.side-menu:checked~.hamb .hamb-line:nth-child(2) {
    opacity: 0;
}

.side-menu:checked~.hamb .hamb-line:nth-child(1) {
    width: 20px;
    transform: translateY(3px) rotate(45deg);
}

.side-menu:checked~.hamb .hamb-line:nth-child(3) {
    width: 20px;
    transform: translateY(-9px) rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

.cart-toggle {
    display: none;
}

.items-count {
    display: none;
    background-color: var(--orange);
    color: var(--white);
    font-size: 10px;
    font-weight: bold;
    border-radius: 8px;
    width: 19px;
    height: 13px;
    position: relative;
    right: -10px;
    top: 9px;
    text-align: center;
}

.product-image {
    width: 50px;
    height: 50px;
}

.product-image img {
    width: 100%;
    border-radius: 5px;
}

.cart-container {
    width: 360px;
    height: 256px;
    background-color: var(--white);
    border-radius: 12px;
    top: 76px;
    right: 8px;
    flex-direction: column;
}

.cart-toggle:checked~.cart-container {
    display: flex;
    position: absolute;
    z-index: 2;
}

.cart-container h3 {
    font-size: 16px;
    padding: 2px 20px;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: var(--grayishBlue);
    height: 1px;
}

.empty-cart {
    text-align: center;
    font-weight: bold;
    color: grey;
    padding-top: 15%;
}

.full-cart {
    display: none;
    padding-top: 11px;
}

.item-description {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item-description .title {
    grid-area: title;
    margin: 0;
    font-weight: lighter;
    color: var(--darkGrayishBlue);
}

.description {
    display: grid;
    grid-template: 1fr 1fr / 5fr 1fr;
    grid-template-areas: 'title bin''price bin';
}

.price-wrapper {
    grid-area: price;
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 16px;
    line-height: 26px;
}

.price-wrapper span {
    margin: 0;
    color: var(--darkGrayishBlue);
}

.total-price {
    color: var(--black);
    margin-left: 7px;
}

.remove-btn-container {
    grid-area: bin;
    align-self: center;
    margin-left: 10px;
}

.remove-btn-container button {
    background: transparent;
    outline: none;
    border: none;
    padding-left: 7px;
}

.checkout-btn-container {
    text-align: center;
}

.checkout-btn-container button {
    width: 330px;
    height: 56px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    margin: 30px auto;
}

.cart-icon-wrapper {
    grid-area: cart-icon;
}

.profile-picture {
    width: 24px;
    grid-area: avatar;
}

.profile-picture img {
    width: 100%;
}

.cart-container {
    display: none;
}

.break-line {
    display: none;
}

.page {
    width: 100%;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#expandedImg {
    width: 100%;
}

.thumbnails-row {
    display: none;
}

.slider-btn {
    position: absolute;
    top: 22%;
    z-index: 5;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

.slide-btn-left {
    left: 4%
}

.slide-btn-right {
    right: 4%;
}

.slide-btn-left img,
.slide-btn-right img {
    height: 12px;
}

.side {
    padding: 0 20px;
}

.side h3 {
    margin-top: 25px;
    margin-bottom: -8px;
    text-transform: uppercase;
    color: var(--orange);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.85px;
}

.side h1 {
    font-size: 28px;
    line-height: 32px;
}

.side p {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 25px;
    color: var(--darkGrayishBlue);
}

.pracing-wrapper {
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-template-areas: 'discounted-price discount regular-price';
    font-weight: bold;
    font-size: 16px;
}

.discounted-price {
    grid-area: discounted-price;
    font-size: 28px;
}

.discount {
    width: 51px;
    grid-area: discount;
    background-color: var(--paleOrange);
    border-radius: 5px;
    color: var(--orange);
    display: flex;
    height: 27px;
    align-items: center;
    justify-content: center;
}

.regular-price {
    grid-area: regular-price;
    justify-self: end;
    text-decoration: line-through;
    line-height: 26px;
    color: var(--grayishBlue);
}

.counter {
    padding: 0px 20px;
    margin: 25px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--lightGrayishBlue);
}

.counter button {
    background-color: transparent;
    border: none;
    color: var(--orange);
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -3px;
}

.count {
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.add-btn-container {
    width: 100%;
}

.add-btn-container button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    width: 100%;
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: var(--orange) 0px 20px 50px -17px;
}

.add-btn-container img {
    width: 17.46px;
    fill: var(--white);
    position: relative;
    top: 2px;
    padding: 2px 11px;
    filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(7500%) hue-rotate(86deg) brightness(109%) contrast(104%);
}

@media screen and (min-width: 820px) {
    body {
        padding: 30px 100px;
        height: 100vh;
        max-width: 1440px;
    }

    .hamb {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-bottom: 20px;
    }

    .nav {
        display: block;
        height: max-content;
        max-height: fit-content;
        position: sticky;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 45px;
        margin: 0;
    }

    .nav-menu a {
        font-size: 15px;
        font-weight: lighter;
        color: var(--darkGrayishBlue);
        padding: 0;
    }

    .nav-menu li {
        position: relative;
        padding: 50px 0;
    }

    .nav-link:hover {
        cursor: pointer;
    }

    .nav-link:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        top: 109px;
        background-color: var(--orange);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .nav-link:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .profile-picture {
        width: 50px;
        padding-right: 40px;
    }

    .profile-picture img:hover {
        border: 3px solid var(--orange);
        border-radius: 50%;
        cursor: pointer;
    }

    .cart-icon-wrapper:hover {
        cursor: pointer;
    }

    .cart-container {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        top: 10%;
        left: 71%;
    }

    .break-line {
        display: block;
        top: 100px;
        position: absolute;
        z-index: 0;
        margin: 0;
        background-color: var(--grayishBlue);
        border: none;

    }

    .page {
        flex-direction: row;
        justify-content: space-around;
        width: 91%;
        height: 565px;
        align-items: center;
        margin: 7em 2em;
        gap: 90px;
    }

    .gallery-wrapper {
        width: 445px;
        height: 565px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-picture {
        margin-bottom: 14px;
    }

    #expandedImg {
        border-radius: 14px;
    }

    .thumbnails-row {
        display: flex;
        gap: 28px;
    }

    .thumbnails-col {
        height: 88px;
        width: 88px;
    }

    .thumbnails-col img {
        width: 100%;
    }

    .main {
        border: 3px solid var(--orange);
        border-radius: 13px;
        opacity: 0.5;
    }

    .thumbnails-col:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .thumbnails-col img {
        border-radius: 10px;
        width: 100%;
    }

    .slider-btn {
        display: none;
    }

    .side {
        width: 445px;
        height: 426px;
        padding: 0;
    }

    .side h1 {
        font-size: 44px;
        line-height: 48px;
    }

    .side h3 {
        margin-top: 0;
        font-size: 13px;
        letter-spacing: 2px;
    }

    .side p {
        font-size: 16px;
        line-height: 26px;
    }

    .pracing-wrapper {
        width: 173px;
        grid-template: 1fr 1fr/ 1fr 1fr;
        grid-template-areas: 'discounted-price discount''regular-price none';
        font-weight: bold;
    }

    .discount {
        justify-self: end;
    }

    .regular-price {
        justify-self: flex-start;
    }

    .side-panel-btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .counter {
        width: 157px;
        padding: 0;
        margin: 0;
    }

    .add-btn-container {
        width: 272px;
    }

    .add-btn-container:hover,
    .counter-btn:hover {
        opacity: 0.7;
    }

    .add-btn-container button {
        box-shadow: none;
    }
}